// media //
$media-sm: 468px;
$media-md: 768px;
$media-lg: 1068px;
// media //

$layout-max-width: 1200px;

$film-card-min-width: 256px;
$film-page-max-width: 950px;

$font-size-base: 14px;

$primary-color: #D0C5A7;
$secondary-color: #B5A587;
$third-color: #73614C;
$text-color: #FFFFFF;
$menu-bg-color: #d3c7a5;
$info-text-color: #A4A9B1;
$head-text-color: #434852;
$search-btn-grey: #c8c8c8;

$pin-grey:#8e8e8e;
$pin-lightgrey: #efefef;
$pin-black: #111111;
$pin-red: #e60023;

$navbar-height: 56px;
$footer-height: 200px;

$border-color-base: #D0C5A7;
$hover-color-base: #D0C5A7;
$heading-color-base: #434852;
$nav-heading-color: #B5A587;
$info-color: #A4A9B1;

$signup-radius: 5px;
