.layout {
  position: relative;
  width: 100%;
  min-height: 100%;
  // height: calc(100% - (200px + 66px));
  // height: calc(100% - (#{$navbar-height}));
}

.layoutBody {
  position: relative;
  min-height: 100%;
  max-width: $layout-max-width;
  margin: 0 auto;
  padding: 0.5em 1em;
  padding-top: $navbar-height;
}