.search {
  position: relative;
  width: 100%;
  margin-right: 8px;
  background-color: $pin-white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  input[type='search']::-webkit-input-placeholder {
    color: $pin-grey;
    font-size: 16px;
    font-weight: 700;
  }
}

#searchIcon {
  font-size: 24px;
}

.searchBgColor {
  background-color: inherit !important;
}

.searchInput {
  padding-left: 0 !important;

  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;

  border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
}