.search {
  position: relative;
  width: 100%;
  margin-right: 8px;
  background-color: $pin-white;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

#search-input {
  background-color: inherit !important;
}

.searchInput {
  background-color: inherit !important;
}