.signup {
  min-width: 240px;
  max-width: 100%;
  width: 380px;
  height: 100%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2) !important;

  &:hover, &:focus {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2) !important;
  }

  border-radius: $signup-radius;
  -webkit-border-radius: $signup-radius;
  -moz-border-radius: $signup-radius;
  -ms-border-radius: $signup-radius;
  -o-border-radius: $signup-radius;
}

.formInput {
  margin: 2.5em 2em;
  padding-bottom: 0;
  background-color: $text-color;

  border-top-left-radius: $signup-radius;
  -webkit-border-top-left-radius: $signup-radius;
  -moz-border-top-left-radius: $signup-radius;
  -ms-border-top-left-radius: $signup-radius;
  -o-border-top-left-radius: $signup-radius;
  border-top-right-radius: $signup-radius;
  -webkit-border-top-right-radius: $signup-radius;
  -moz-border-top-right-radius: $signup-radius;
  -ms-border-top-right-radius: $signup-radius;
  -o-border-top-right-radius: $signup-radius;
}

.defaultBorder, .defaultBorder:focus {
  border: 1px solid $primary-color !important;
}

.wrongBorder, .wrongBorder:focus {
  border: 1px solid $pin-red !important;
}

.wrongText {
  color: $pin-red;
}


.authSubmitBtn {
  margin: 5px 0 0 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

.warning {
  color: $pin-red;
  text-align: center;
  margin-bottom: 15px;
}

.signupLink {
  text-decoration: none !important;
  text-align: center;
}

.optionBottom {
  &:hover {
    background-color: $auth-btn-grey !important;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: $pin-lightgrey !important;

  border-bottom-left-radius: $signup-radius;
  -webkit-border-bottom-left-radius: $signup-radius;
  -moz-border-bottom-left-radius: $signup-radius;
  -ms-border-bottom-left-radius: $signup-radius;
  -o-border-bottom-left-radius: $signup-radius;
  border-bottom-right-radius: $signup-radius;
  -webkit-border-bottom-right-radius: $signup-radius;
  -moz-border-bottom-right-radius: $signup-radius;
  -ms-border-bottom-right-radius: $signup-radius;
  -o-border-bottom-right-radius: $signup-radius;
}


.authSuccess {
  color: $pin-black;
  text-align: center;
  margin-bottom: 15px;
}

.pinWhite {
  color: $pin-lightgrey !important;
}

.pinBlack {
  color: $pin-black !important;
}
